<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :authorId %>
    <%= form.text_field :authorId, id: :book_authorId %>
  </div>

  <div class="field">
    <%= form.label :publisherId %>
    <%= form.text_field :publisherId, id: :book_publisherId %>
  </div>

  <div class="field">
    <%= form.label :gener %>
    <%= form.text_field :gener, id: :book_gener %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :book_isbn %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :book_price %>
  </div>

  <div class="field">
    <%= form.label :dateOfPublish %>
    <%= form.text_field :dateOfPublish, id: :book_dateOfPublish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
