<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authorid:</strong>
  <%= @book.authorId %>
</p>

<p>
  <strong>Publisherid:</strong>
  <%= @book.publisherId %>
</p>

<p>
  <strong>Gener:</strong>
  <%= @book.gener %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Dateofpublish:</strong>
  <%= @book.dateOfPublish %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
